{
  "Clusters": {
    "desired_configs": {
      "type": "kerberos-env",
      "tag": "version2",
      "properties": {
        "type": "kerberos-env",
        "tag": "version1",
        "properties": {
          "kdc_type": "mit-kdc",
          "encryption_types": "aes des3-cbc-sha1 rc4 des-cbc-md5",
          "realm": "{{ REALM }}",
          "kdc_host": "{{ hostvars[groups['kdc_server'][0]]['ansible_fqdn'] }}",
          "admin_server_host": "{{ hostvars[groups['kdc_server'][0]]['ansible_fqdn'] }}",
          "executable_search_paths": "/usr/bin, /usr/kerberos/bin, /usr/sbin, /usr/lib/mit/bin, /usr/lib/mit/sbin"
        }
      }
    }
  }
}